.slide-4 .quote-card:nth-child(2n) {
  border-right: 5px solid #e62b1e;
  border-left: transparent;
}

.slide-4 .quote-mark {
  content: url("./quote_black.png");
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 60px;
  font-family: "Lora", serif;
  opacity: 0.09;
  line-height: 1;
  transform: rotate(180deg);
}

.slide-4 .quote-card:nth-child(2n) .quote-mark {
  left: 15px;
  right: auto;
  transform: rotate(0deg);
}

.slide-4 .quote-text {
  font-family: "Lora", serif;
  font-size: 18px;
  line-height: 1.5;
  color: #374151;
  font-style: italic;
  margin-bottom: 12px;
  position: relative;
  z-index: 1;
}

.slide-4 .quote-author {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #111827;
  font-size: 14px;
  align-items: center;
}

.highlight-box::after {
  content: "";
  position: absolute;
  top: 100px;
  left: 0;
  width: 150px;
  height: 150px;
  background-color: #e62b1e;
  border-radius: 50%;
  filter: blur(60px);
  opacity: 0.2;
}

.key-takeaway-label::before {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #e62b1e;
  margin-right: 10px;
}

.takeaway-text {
  font-weight: 800;
  line-height: 1.3;
  margin-bottom: 20px;
}
